<div class="col-md-10" style="margin-left: 0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3>Detalhe do ticket</h3>
    </div>
    <form class="form-horizontal">
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{message.text}}</strong>
      </div>
      <div class="box-body">
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>Número </b> <span>{{ticket.number}}</span>
            <span class="pull-right"><b>Título: </b><span>{{ticket.title}}</span></span>
          </li>
          <li class="list-group-item">
              <b>Prioridade </b> <span>{{ticket.priority}}</span>
              <span class="pull-right"><b>Criado por: </b><span>{{ticket?.user?.email}}</span></span>
          </li>
          <li class="list-group-item">
              <b>Status: </b> <span>{{ticket.status}}</span>
              <span class="pull-right"><b>Atribuido a: </b><span>{{ticket?.assignedUser?.email}}</span></span>
          </li>
          <li class="list-group-item">
              <b>Data: </b> <span>{{ticket.date | date:'dd/MM/yyyy'}}</span>
              <span class="pull-right"><b>Descrição: </b><span>{{ticket.description}}</span></span>
          </li>
          <li class="list-group-item">
              <span><img [src]="ticket.imagem" width="450px" height="370px"></span>
              <span class="pull-right">
                <table class="table table-bordered">
                  <tr>
                    <th>Usuário que fez a modificação</th>
                    <th>Data da modificação do status</th>
                    <th>Status</th>
                  </tr>
                  <tr *ngFor="let change of ticket.changes">
                    <td>{{change?.userChange.email}}</td>
                    <td>{{change?.dateChangeStatus | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{change?.status}}</td>
                  </tr>
                </table>
              </span>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
